<h1>Create a New Account</h1>
<% if flash[:message] %>
<h1><%=flash[:message] %></h1>
<%end%>
<% if flash[:error] %>
<% flash[:error].each do |i| %>
<h1><%= i %></h1>
<%end%>
<%end%>
<form action='/create' method='post'>
	<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token%>'>
	First Name:<br>
	<input type='text' name='First_name' placeholder='Joe'><br>
	Last Name:<br>
	<input type='text' name='Last_name' placeholder='Black'><br>
	Email:<br>
	<input type='text' name='Email' placeholder='joe@black.com'><br>
	Password:<br>
	<input type='password' name='Password'><br>
	Password Confirmation:<br>
	<input type='password' name='Password_Confirmation'><br>
	<input type='submit' value='Create'>
</form>
